/* お店の特徴 ヒーロー */

.f-container {
  padding: 250px 0;
  background-image: url(../img/table.jpg);
  background-size: cover;
  clip-path: polygon(100% 95%, 100% 0%, 0% 0%, 0% 100%);
}

.f-text-cover {
  background-color: rgb(122, 61, 61);
  height: 150px;
  padding: 40px 0;
  opacity: 0.6;
  position: relative;
  z-index: 1;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}

.f-container h1 {
  font-size: 32px;
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  position: relative;
  z-index: 10;
  bottom: 120px;
  text-align: center;
}

.f-container h2 {
  margin-top: 18px;
  margin-left: 20px;
  font-size: 22px;
  color: #fff;
  position: relative;
  z-index: 10;
  bottom: 120px;
  text-align: center;
}

.f-container h3 {
  margin-top: 15px;
  font-size: 22px;
  color: #fff;
}

@media (max-width: 599px) {
  .f-container h1 {
    font-size: 32px;
    margin-left: 20px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    position: relative;
    z-index: 10;
    bottom: 120px;
    text-align: center;
  }

  .f-container h2 {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 18px;
    color: #fff;
    text-align: center;
  }

  .f-container h3 {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 18px;
    color: #fff;
  }
}

/* ３つの特徴部分 */

.features {
  display: flex;
  margin-top: 60px;
}

.f-img {
  display: block;
  margin-top: 40px;
  margin-left: 40px;
  width: 400px;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}

.features h2 {
  font-size: 25px;
  padding-top: 20px;
  margin: 30px 15%;
}

.features p {
  font-size: 16px;
  margin: 10px 15%;
  line-height: 40px;
  text-align: left;
}

.btn {
  display: block;
  margin: 100px auto;
  width: 60%;
  background-color: rgb(241, 204, 79);
  color: #fff;
  padding: 15px;
  border-radius: 40px;
  text-align: center;
}

@media (max-width: 800px) {
  .features {
    display: block;
    margin-top: 130px;
  }

  .f-img {
    display: block;
    margin: 40px auto;
    width: 80%;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  }

  .features h2 {
    text-align: center;
    font-size: 25px;
    margin: 20px 0;
  }

  .features p {
    font-size: 16px;
    margin: 10px 15%;
    line-height: 40px;
    text-align: left;
  }

  .btn {
    display: block;
    margin: 70px auto;
    width: 60%;
    background-color: rgb(241, 204, 79);
    color: #fff;
    padding: 15px;
    border-radius: 40px;
    text-align: center;
  }
}

/* できること jQueryスライドエリア */

.slide-left {
  display: flex;
}

.slide-text {
  text-align: center;
}

.sideword {
  font-size: 12px;
  margin-left: 10px;
}

.menu-img {
  position: relative;
  z-index: 20;
  width: 60%;
  padding: 55px;
  margin: 45px auto;
}

.menu-description {
  margin-top: 30px;
}

.box-left {
  margin-top: 30px;
  text-align: center;
  background-color: #ebebeb;
  padding: 20px;
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, transform 0.5s;
  transition: opacity 1s, transform 0.5s, -webkit-transform 0.5s;
  overflow: hidden;
  clip-path: polygon(95% 85%, 100% 15%, -11% 18%, -5% 100%);
  z-index: 2;
  position: relative;
}

.box-right {
  margin-top: 30px;
  text-align: center;
  background-color: #ebebeb;
  padding: 20px;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, transform 0.5s;
  transition: opacity 1s, transform 0.5s, -webkit-transform 0.5s;
  overflow: hidden;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}

.fadein {
  opacity: 1;
  /* -webkit-transform: translateX(0); */
  transform: translateX(0);
}

@media (max-width: 750px) {
  .left-img {
    position: relative;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 60%;
    height: 100%;
    right: 25px;
    overflow: hidden;
    border-radius: 45% 35% 50% 30% / 50% !important;
  }

  .menu-img {
    width: 55%;
    padding: 30px;
    margin: 60px auto 40px;
  }
}
